body{
    margin: 0;
    padding: 0;
    background-image: url(pantai.jpeg);
    background-size: cover;
}
.container{
    top: 30%;
    left: 40%;
    position: absolute;

}

.card{
    padding: 60px 40px 50px 40px;
    background: plum;
    border-radius: 10px;
}
#username{
color: whitesmoke;
width: 300px;
border: none;
border-bottom: 1px solid white;
margin-bottom: 25px; 
padding: 6px;
background: transparent;
}

#passwordSaya{
    color: whitesmoke;
    width: 300px;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 25px; 
    padding: 6px;
    background: transparent;
}
.eye{
    position: absolute;
    margin-left: 292px;
    margin-top: -12%;
    color: white;
    cursor: pointer;
}
#hide1{
    display: none;
}
    #button{
        border: 20px;
        padding: 10px 20px;
        color: white;
        background: blue;
        margin-top: 15px;
        border-radius: 10px;
    }
    #button:hover{
        color: black;
        background-color: chartreuse;
        cursor: pointer;
    }